<!-- <h3  class="title"> Markets </h3>
<mat-nav-list   *ngFor="let market of markets" >

 <a mat-list-item class="row">
   <img mat-list-avatar src="">
   <span (click)="onNavigate(market.id)" matLine>{{market.name}}</span>
 </a>
</mat-nav-list> -->
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Search</mat-label>
    <input type="text" matInput placeholder="Search">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</form>

<h3  class="title"> Markets </h3>
<mat-nav-list>

 <a mat-list-item class="col-xs-11">
   <img mat-list-avatar src="">
   <span  matLine>aaaa</span>
    <span>15€</span>
 </a>
</mat-nav-list>
