.full {
  width: 100%;
}
#minibtn{
  margin-left: 88%;
}
#total{
  font-weight: bolder;
  font-size: 20px;
  /* margin-top: 10%;
 margin-left: 34%; */
}
.tblelem{
  width: 90px;
}

.btnconfirmC{
  margin-bottom: 4%;
}
.tblprod{
  background-color: #F9B826;
}
.btnadd{
  background-color: #649C9D;
  color: #F9B826;

}
.btnconfirm{
  background-color: #F9B826;
  color: #649C9D;

}
