.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
.mat-card{
  background-color: #649C9D;
}
.mat-raised-button {
  background-color: #F9B826;
  color: #649C9D;
}
::ng-deep .mat-focused .mat-form-field-label {
  color: #F9B826 !important;
 }

 ::ng-deep.mat-form-field-underline {
  background-color: #F9B826 !important;
}

::ng-deep.mat-form-field-ripple {
 background-color: #F9B826 !important;;
}

