<form [formGroup]="resetpassword" novalidate (ngSubmit)="onSubmit()" >
  <mat-card class="shipping-card">
    <mat-card-header fxLayout
       fxLayoutAlign="center" >
      <mat-card-title  >Reset Password</mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout
    fxLayoutAlign="center">
      <div class="row">
        <div class="col">
          <mat-form-field  appearance="fill" class="full-width">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="Email" formControlName="email"  >
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout
    fxLayoutAlign="center">
      <button  mat-raised-button type="submit"(click)="openDialog()" >Reset</button>
    </mat-card-actions>
  </mat-card>
</form>
