<h2 class="center title">Products bought from {{ shopName }}</h2>
<h4 class="center">Status: {{ basketStatus }}</h4>
<table
  mat-table
  [dataSource]="dataSource"
  class="mat-elevation-z8 full tblprod"
>
  <!-- Product Column-->>

  <ng-container matColumnDef="product_name">
    <th mat-header-cell *matHeaderCellDef>Product</th>
    <td mat-cell *matCellDef="let product">{{ product.product_name }}</td>
  </ng-container>
  <!-- Quantity Column-->>

  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let product">
      {{ product.quantity }} {{ product.unit_symbol }}
    </td>
  </ng-container>
  <!-- Price Column-->>
  <ng-container matColumnDef="total_price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let product">
      {{ product.total_price | currency: "EUR":"symbol":undefined:"de-DE" }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  <mat-paginator
    #paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
  >
  </mat-paginator>
</table>
<h2 class="center">
  total: {{ totalPrice | currency: "EUR":"symbol":undefined:"de-DE" }}
</h2>
