.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  position: fixed;
  top: 0;
  z-index:999;
}

.sidenav .mat-toolbar {
  background: inherit;
}
.downLogout{
  margin-top: 195%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar{
  background-color: #649C9D;
}

.sidenav{
  background-color: #F9B826;
}
mat-sidenav-content{
  background-color: #649C9D;

}
.btnavbar{
  background-color: #F9B826;

}

.right{
  display: flex;
}

.shopping:hover{
cursor: pointer;
}
.tbl{
  background-color: #F9B826;
}
