.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  position: fixed;
  top: 0;
  z-index: 999;
}

.sidenav .mat-toolbar {
  background: inherit;
}
.downLogout {
  //margin-top: 195%;
  align-items: flex-end;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-toolbar {
  background-color: #649c9d;
}

.sidenav {
  background-color: #f9b826;
}
mat-sidenav-content {
  background-color: #649c9d;
}
.btnavbar {
  background-color: #f9b826;
}

.right {
  display: flex;
}

.shopping:hover {
  cursor: pointer;
}
.tbl {
  background-color: #f9b826;
}
