/* You can add global styles to this file, and also import other style files */
/* @import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
 */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.center {
  display: flex;
  justify-content: center;
}
.right{
  display: flex;
  justify-content: end;
}
.left{
  display: flex;
  justify-content: start;
}
.title{
  font-weight: bolder;
  font-size: larger;
  text-align: center;
}

.primary{
  color:   #649C9D;

}
.secundary{
  color: #F9B826;

}
.primary-background{
  background-color:   #649C9D;

}

.secundary-background{
  background-color: #F9B826;
}

.full-width{
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
